
/* General */
.font-small {
    font-size: 12px;
}

.black {
    color: black;
}

.white {
    color: white;
}

.block-display {
    display: block;
}

.clear {
    clear: both;
}

.btn__main {
    font-size: 14px;
    padding: 10px 17px;
}

.btn__main_red {
    background-color: red;
    color: white;
    font-weight: bold;
}

.btn__main_red:hover {
    color: white;
}
.btn__main_rounded-big {
    border-radius: 17px;
}

 .support-box span {
    display: inline-block;
}
 .support-box .divider {
    border-left: solid 1px white;
    height: 58px;
    top: 0;
    right: 55px;
    position: absolute;
}
.support-box {
    display: inline-block;
    color: white;
    padding: 17px;
    width: 198px;
    border-radius: 3px;
    font-weight: bold;
    position: relative;

}

.support-box .image-box {
    float: right;
}

#app-top .is-transparent {
    background-color: unset;
}

/***

  Top section

  ***/

#app-top {
    background: url('../images/bg_heart.png');
    background-size: cover;
    min-height: 1196px;
}

@media (max-width: 1300px) {
    #app-top {
        background-size: 100%;
        background-repeat: no-repeat;
        min-height: 800px;
    }
}

#section-top {
    padding-top: 10px;
}

#section-top div {
    float: right;
}

#section-top a {
    color: #ebd6d3;
    margin-left: 40px;
}

#top-krs-link {
    padding: 5px 10px;
    border: solid 1px #ebd6d3;
}

/***

 navbar

 ***/

#navMenu a {
    color: white;
}

#nav-logo {
    height: auto;
    width: auto;
    max-height: unset;
}
.navbar-brand #nav-logo {

}
#blue-support {
    position: absolute;
    top: 475px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}
#blue-support a {
    background-color: #0099ff;
}

#fb-side-btn {
    position: absolute;
    right: 0;
    top: 200px;
}

#who-we-help-section {
    border: solid 1px grey;
    padding: 20px;
}
#who-we-help-section h3 {
    font-size: 26px;

}

.icons {
    margin-top: 20px;
}
.icons img {
    float: left;
}
.icons .texts {
    padding-left: 70px;
}

.icons .texts .header {
    font-size: 20px;
    margin-bottom: 10px;
}

.icons .texts p {
    font-size: 13px;
}
#support h2 {
    font-size: 60px;
    font-weight: bold;
}
#support h3 {
    font-size: 40px;
}

#tools {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

#tools #girl-image-desktop {
    position: absolute;
    top: -1000px;
    left: -160px;
}
#tools #girl-image-mob {
    display: none;
}

@media (max-width: 1300px) {
    #tools #girl-image-desktop {
        top: -612px;
        left: 0;
        width: 415px;
        height: auto;
    }
}

.tool {
    border: solid 1px white;
    width: 200px;
}

.tool img {
    display: block;
    margin: 0 auto;
}

.tool .progress-bar{
    margin-bottom: 8px;
    position: relative;
}
.tool .progress-bar .background {
    border-radius: 5px;
    border: solid 1px #ebd6d3;
    height: 10px;
    width: 200px;
}
.tool .progress-bar .progress {
    background-color: #ed1c24;
    border-radius: 5px;
    height: 10px;
    position: absolute;
    top: 0;
}

.tool .texts {
    color: grey;
    margin-bottom: 20px;
    text-align: center;
}

.tool .texts .name {
    color: black;
    margin-bottom: 15px;
}

.prices {
    font-size: 12px;
}

.prices .price {
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.prices .current-price {
    float: left;
}

.prices .target-price {
    float: right;
}
.tool .support-box {
    display: none;
    background-color: #ed1c24;
}


.tool:hover {
    border: solid 1px #ebd6d3;
    border-radius: 3px;
}
.tool:hover .support-box {
    display: inline-block;
}
.tool:hover .price-box {
    display: none;
}

/***

 slider

 ***/
#tools-slider {
    position: relative;
    width: 700px;
}

#tools-slider .window {
    overflow: hidden;
    width: 660px;
}

#tools-slider .row {
    width: 4000px;
    position: relative;
}

#tools-slider .tool {
    float: left;
    margin-left: 20px;
}

#tools-slider .arrow {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    top: 60px;
}

#tools-slider .arrow.left {
    left: -25px;
}

#tools-slider .arrow.right {
    right: 10px;
}

#tools-slider .arrow img {
    left: 15px;
    position: absolute;
    top: 15px;
}

/***

 Player section

 ***/

#player-section #who-you-help {
    display: block;
    margin: 50px auto;
}

#player-section #video-arrows {
    margin: 20px auto;
    text-align: center;
}

#player-section #video-arrows .left {
    margin-right: 20px;
}

#videos-slider {
    margin: 0 auto;
    position: relative;
    width: 1200px;
}

#videos-slider .window {
    overflow: hidden;
    width: 1200px;
}

#videos-slider .row {
    width: 4000px;
    position: relative;
}

#videos-slider .video {
    float: left;
    position: relative;
    color: white;
}

#videos-slider .video .teaser-image {
    width: 400px;
    height: 280px;
}

#videos-slider .video .title {
    position: absolute;
    top: 10px;
    color: white;
    left: 10px;
}

#videos-slider .video .subtitle {
    color: white;
    position: absolute;
    left: 10px;
    top: 80px;
}

#videos-slider .video .play-btn-small {
    position: absolute;
    right: 15px;
    top: 20px;
}

/***

  video section

  ***/

#video-section {
    color: white;
    height: 750px;
    margin-top: -80px;
    position: relative;
}

#video-section #bg-image {
    position: absolute;
    height: 700px;
}

#video-section #video-columns {
    position: absolute;
    left: 0;
    right: 0;
    top: 200px;
}

#video-section #see-all-charities {
    bottom: -70px;
    left: 10%;
    position: absolute;
}

#video-section #see-all-charities .support-box {
    background-color: #069bff;
    width: 225px;
}

#video-section #random-charity {
    color: grey;
    display: block;
    margin: 30px auto 0;
    width: 90%;
    text-align: center;
    text-decoration: underline;
    font-size: 12px;
}

#regions-wrapper {
    margin: 0 auto 100px;
    width: 600px;
}

#regions-wrapper h2 {
    font-size: 60px;
    font-weight: bold;
}

#regions-wrapper h3 {
    font-size: 35px;
}

#regions-wrapper p {
    margin: 35px 0;
}

#regions-wrapper .columns {
    margin-left: 8px;
}


#regions-wrapper ul a {
    color: white;
}

#regions-wrapper li {
    list-style-image: url("../images/region_arrow_small.png");
}

#regions-wrapper li:hover {
    list-style-image:  url("../images/region_arrow_small_hover.png");
}

#link-box {
    border: solid 1px;
    border-radius: 15px;
    padding: 30px;
    position: relative;
    width: 300px;
}

#link-box a {
    font-size: 12px;
}

#link-box ul a {
    color: grey;
    text-decoration: underline;
}

#link-box #know-more {
    position: absolute;
    bottom: -18px;
    color: white;
    border: solid;
    border-radius: 20px;
    padding: 7px 10px;
    background-color: #db2c23;
}

#video-section .is-one-third img {
    position: absolute;
    bottom: -100px;
}

/***

 footer

 ****/

footer.footer {
    padding-bottom: 0;
    margin-top: 100px;
}
footer .content .header {
    font-size: 14px;
    text-transform: uppercase;
}
footer .content ul {
    margin-left: 0;
}
footer .content ul li {
    list-style: none;
}
footer .content ul li a {
    color: grey;
}

footer .content ul li a:hover {
    color: black;
}

#beneficents-list {
    text-align: right;
}

#footer-email-link {

}

#needing-list {
    color: grey;
    border: solid 1px grey;
    float: right;
    padding: 9px 18px;
    text-align: right;
}

#second-footer {
    background-color: whitesmoke;
    margin: 0 auto 20px;
    padding: 0 1.5rem;
}

/***

  RWD definitions

  ***/

@media (max-width: 1024px) {
    #navMenu {
        max-width: 300px;
    }
    #navMenu a {
        color: black;
    }
    a.navbar-item:hover {
        background: none;
    }
    #tools #girl-image-desktop {
        display: none;
    }
    #tools #girl-image-mob {
        display: block;
        position: absolute;
        top: -400px;
    }
    #tools-slider {
        width: 500px;
    }
    #tools-slider .window {
        width: 440px;
    }
    #support {
        margin: 0 20px;
    }
    #videos-slider {
        width: 800px;
    }
    #videos-slider .window {
        width: 800px;
    }
}

@media (max-width: 768px) {
    #video-section {
        height: 1250px;
    }
    #video-section #bg-image {
        height: 100%;
    }
    #regions-wrapper {
        width: 95%;
    }
    #video-section {
        margin-top: -150px;
    }
    #video-section #see-all-charities {
        position: static;
    }
    #video-section #random-charity {
        text-align: left;
    }
    #videos-slider {
        width: 320px;
    }
    #videos-slider .window {
        width: 320px;
    }
    #videos-slider .video .teaser-image {
        width: 320px;
    }
    #couch-img {
        display: none;
    }
    footer.footer {
        margin-top: 0;
    }
    #beneficents-list {
        text-align: left;
    }
    #needing-list {
        float: none;
    }
}

@media (max-width: 450px) {
    #section-top div {
        float: none;
        padding: 0 10px;
    }
    #section-top a {
        display: block;
        margin: 0 auto 10px;
    }
    a#top-krs-link {
        display: inline-block;
    }
    #tools {
        width: 95%;
    }
    #support {
        text-align: center;
    }
    #tools-slider {
        width: 220px;
        margin: 0 auto;
    }
    #tools-slider .window {
        width: 220px;
    }
    #video-section {
        height: 1450px;
    }
}